/* CSS HEX */
:root {
--rich-black-fogra-39: #02010aff;
--oxford-blue: #04052eff;
--midnight-blue: #140152ff;
--navy-blue: #22007cff;
--duke-blue: #0d00a4ff;
}

body{
   
}

.header-banner {
    font-family: 'Raleway', sans-serif;
    height: 130px;
    width: 100%;
    background-image: url(../images/weather-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
  font-family: 'Lusitana', serif;
}